body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}


/* isi awal start */
.wrapper {
    padding: 32px 32px 48px 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper-one {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper-two {
    width: 50%;
}

#wrapper-one-heading {
    color: #95a6da;
    font-size: 40px;
    text-align: left;
    margin-bottom: 8px;
}

#wrapper-one-text {
    color: rgba(0,0,0,1);
    font-size: 18px;
    margin-bottom: 8px;
}


.wrapper-two {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.wrapper-two-computer-image-one img {
    width: 600px;
    height: 500px;
}
/* isi awal end */

/* Layanan start */
#layanan{
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.mt-4{
    width : 80px;
    height : 80px;
}

h2 {
    font-size: 48px;
    font-weight: 500;
    color: #95a6da;
}

.card-layanan {
    width: 100%;
    height: 220px;
    border-radius: 10px;
    background-color: #e3e9ff;
}

.card-layanan h5{
  display: flex;
  justify-content: center;
}

/* Layanan end */

/* Responsive start */

@media screen and (min-width : 923px) and (max-width : 1199px ) {
    .wrapper-two-computer-image-one img {
        margin-top: 10%;
        width: 450px;
        height: 400px;
    }
    h2 {
        font-size: 40px;
    }   

   }

    @media screen and (max-width : 922px) {
        /* isi awal start */

        .wrapper {
            width: 100%;
        }

        #wrapper-one-heading {
            font-size: 34px;
        }

        #wrapper-one-text {
            font-size: 15px;
            text-align: start;
        }

        .wrapper-two-computer-image-one img {
            margin-top: 20%;
            width: 350px;
            height: 300px;
        }
        /* isi awal end */

        h2 {
            font-size: 30px;
        }   

    }

    @media screen and (min-width : 599px) and (max-width : 983px ) {
        /* Layanan start */


        .card-layanan {
            width: 100%;
            height: 220px;
            border-radius: 10px;
            margin-top: 5%;
        }

        h2 {
            font-size: 30px;
        }   
        /* Layanan end */
    }

    @media screen and (max-width : 576px) {
        /* isi awal start */

        .wrapper {
            margin-right: 10%;
        }

        #wrapper-one-heading {
            color: #95a6da;
            font-size: 20px;
        }

        #wrapper-one-text {
            color: rgba(0,0,0,1);
            font-size: 15px;
            text-align: start;
        }

        .wrapper-two-computer-image-one img {
            margin-top: 50%;
            width: 250px;
            height: 200px;
        }
        /* isi awal end */

        /* Layanan start */
        .card-layanan {
            width: 100%;
            margin-top: 5%;
            height: 220px;
            border-radius: 10px;
        }
            /* Layanan end */
    
        h2{
            font-size: 25px;
        }      

    /* Layanan end */

}



/* Responsive end */